/*   GERAL   */
*{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    background-color: rgb(216, 216, 216);
    color: #000;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

/*   NAVBAR   */
#navbar{
    padding: 1.2em 1.4em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    border-bottom: 3px solid #810000;
}

#navbar ul{
    background-color: transparent;
    display: flex;
    list-style: none;
}

#navbar ul li{
    background-color: transparent;
    margin-left: 1em;
}

#navbar ul li a{
    background-color: transparent;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
    color: rgb(216, 216, 216);
}

#navbar ul li a:hover{
 color: #810000;
}

/* PRODUTO */

.produto{
    height: 200px;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.produto-card-esquerda{
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    height: 100%;
    border: 3px solid #810000;
    border-radius: 5px;
}

.produto-card-img{
    height: 100%;
    width: 60%;
    background-color: #222;
}

.produto-card-img img{
    background-color: #222;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.produto-card-body{
    background-color: transparent;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.produto-card-body h2{
    background-color: transparent;
    text-align: center;
    color: #fff;
}

.produto-card-body-conferir{
    display: flex;
    justify-content: center;
    background-color: transparent;
    margin: 0;
}

.produto-card-body a{
    width: 100px;
    padding: 5px;
    text-decoration: none;
    
    text-align: center;
    border-radius: 5px;
    background-color: #810000;
    border: 2px solid #fff;
    color: #fff;
}

.produto-card-body a:hover{
    background-color: rgb(216, 216, 216);
    color: #810000;
    border-color: #810000;
}


/*CONTAINER*/

.container{
    min-height: 60vh;
    padding: 2em;
}

.container-cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    width: 250px;
    height: 450px;
    margin: 5px 0;
    border: 4px solid #810000;
    border-radius: 5px;
}

.card-img{
    width: 250px;
    height: 62.5%;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.card img{
    height: 100%;
    object-fit: contain;
}

.card-body{
    width: 250px;
    height: 37.5%;
    background-color: #810000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body h4, 
.card-body p{
    background-color: transparent;
    color: #fff;
    width: 100%;
    margin-top: 10px;
    height: 25%;
    text-align: center;
}



.card-body a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: 10px 0;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #810000;
    border: 2px solid #fff;
    color: #fff;
}

.card-body a:hover{
    background-color: rgb(216, 216, 216);
    color: #810000;
    border-color: #810000;
}

/*   FOOTER   */
footer{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #810000;
    background-color: #222;
}

footer span{
    font-weight: bold;
    color: #810000;
}