<h1>produtos</h1>

<div class="container">
    <div class="produto">
        <div class="produto-card-esquerda">
            <div class="produto-card-img">
                <img src="/img/produtos/vinho.jpg" alt="vinhos">
            </div>
            <div class="produto-card-body">
                <h2>Vinhos</h2>
                <div class="produto-card-body-conferir">
                    <a href="/produtos/vinhos">Conferir</a>
                </div>
            </div>
        </div>
    </div>
    <div class="produto">
        <div class="produto-card-esquerda">
            <div class="produto-card-body">
                <h2>Whiskies</h2>
                <div class="produto-card-body-conferir">
                    <a href="/produtos/whiskies">Conferir</a>
                </div>
            </div>
            <div class="produto-card-img">
                <img src="/img/produtos/whisky.jpg" alt="whiskies">
            </div>
        </div>
    </div>
</div>
